<div id="shuttle__<%= id %>">
  <section class="container-lg__<%= id %>">
    <div class="cell__<%= id %> shuttle__<%= id %> form__<%= id %>" data-id="<%= id %>">
      <%= form %>
        <div class="success__<%= id %>">
          <div class="icon__<%= id %>">
            <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <circle class="border__<%= id %>" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
              <path class="checkmark__<%= id %>" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338"
                stroke-width="4" stroke="#000" fill="none"></path>
            </svg>
          </div>
        </div>
    </div>
</div>
</section>
</div>
