<% element.options.map((option, i) => { %>
  <div class="<%= rowClass %>">
    <input type="<%= element.type %>" id="<%= option.value.replace(' ', '') %>" name="<%= name %>" value="<%= option.value %>" <%= element.validation.required
      ? 'required' : '' %>
    <%= element.selected.includes(i) ? 'checked' : '' %>
      >
      <label for="<%= option.value.replace(' ', '') %>" class="not-text__<%= id %>">
        <%= option.value %>
      </label>
    </div>
    <% }) %>
