<% element.options.map((option, i) => { %>
  <div class="<%= rowClass %>">
    <input type="<%= element.type %>" id="<%= option.value.replace(' ', '') %>" name="<%= name %>" value="<%= option.value %>" <%=( element.validation.required
      && i===0 ) ? 'required' : '' %>
    <%= checkedIndex === i ? 'checked' : '' %>>
      <label for="<%= option.value.replace(' ', '') %>" class="not-text__<%= id %>">
        <%= option.label %>
      </label>
  </div>
  <% }) %>
