<div class="<%= rowClass %>">
  <input type="<%= preset === 'phone' ? 'tel' : preset %>" id="<%= name %>" name="<%= name %>" class="input__<%= id %> empty__<%= id %>" placeholder="<%= element.label %>"
    <%= preset === 'phone' ? `pattern="^[0-9\-\+\s\(\)]*$" ` : '' %>
  <%= element.validation.required ? 'required' : ''%>>
    <%= label %>
      <div class="baseline__<%= id %>"></div>
</div>
