<select name="<%= name %>" id="<%= name %>" <%= element.validation.required ? 'required' : ''%>>
  <% if (selectedIndex === undefined) { %>
    <option selected>Select</option>
    <% } %>
      <% element.options.map((option, i) => { %>
        <option name="<%= name %>" id="<%= option.value.replace(/\s+/g, '_') %>" value="<%= option.value.replace(/\s+/g, '_') %>" <%= selectedIndex === i ? 'selected' : '' %>>
          <%= option.value %>
        </option>
        <% }) %>
</select>
